<!DOCTYPE html>
<html lang="en">
<head>
    @{
        string TitlePageFooter = "2020 - IStore";
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">


</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <div id="sidebar-container" class="grandient">
                <div class="logo">
                    <h4 class="text-light font-weight-bold">IStore-Ticket</h4>
                </div>
                <div class="menu">
                    <a asp-controller="Home"        asp-action="Index" class="d-block text-light p-3"><i class="icon ion-md-home mr-2 lead"></i>Inicio</a>
                    <a asp-controller="Ligas"       asp-action="Index" class="d-block text-light p-3"><i class="icon ion-md-headset mr-2 lead"></i>Taller-(Ligas Deportivas)</a>
                    <a asp-controller="Equipos"     asp-action="Index" class="d-block text-light p-3"><i class="icon ion-md-headset mr-2 lead"></i>Taller-(Equipos Deportivas)</a>
                    <a asp-controller="Jugador"     asp-action="Index" class="d-block text-light p-3"><i class="icon ion-md-headset mr-2 lead"></i>Taller-(Jugadores)</a>
                    @*<a href="#" class="d-block text-light p-3"><i class="icon ion-md-headset mr-2 lead"></i>Taller</a>*@

                </div>
            </div>
        </div>
            <div class="container col-md-8 pt-3">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
