:root {
    --primary :#111854;
    --ligth :#ffffff;
    --grey  :#efefef;
}

#sidebar-container {
    min-height: 95vh;
}

    #sidebar-container .logo {
        padding : .875rem 1.25rem;
    }

    #sidebar-container .menu {
        width :18rem;
    }

.bg-primary {
    background-color :var(--primary) !important;
}

    body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight :300;
    color:var(--primary);
}

a:hover {
    text-decoration :none;
}

.grandient {
    background: rgba(49,95,155,1);
    background: -moz-linear-gradient(45deg, rgba(49,95,155,1) 0%, rgba(45,83,134,1) 41%, rgba(38,69,109,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(49,95,155,1)), color-stop(41%, rgba(45,83,134,1)), color-stop(100%, rgba(38,69,109,1)));
    background: -webkit-linear-gradient(45deg, rgba(49,95,155,1) 0%, rgba(45,83,134,1) 41%, rgba(38,69,109,1) 100%);
    background: -o-linear-gradient(45deg, rgba(49,95,155,1) 0%, rgba(45,83,134,1) 41%, rgba(38,69,109,1) 100%);
    background: linear-gradient(45deg, rgba(49,95,155,1) 0%, rgba(45,83,134,1) 41%, rgba(38,69,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#315f9b', endColorstr='#26456d', GradientType=1 );
}